.para {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    margin-bottom: 2em;
    /* Reverse compatible */
}

.para:after {
    opacity: 0.5;
    z-index: -1;
}

.para-1 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url("games/tossintospace.jpg");
}

.para-2 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url("games/shooting.jpg");
}

.para-3 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url("games/basketball-net.jpg");
}

.para-5 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url("games/skeeball-main.jpg");
}

.para-6 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url("games/air-hockey-main.jpg");
}

.para-7 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url("games/asteroid.jpg");
}

.para-8 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url("games/racing.jpg");
}

.para-9 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url("games/maze.jpg");
}

#main div {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Roboto';
    margin-left: 2em;
    margin-right: 2em;
    padding-top: 2em;
    padding-right: 1em;
    padding-left: 1em;
    text-shadow: 2px 2px #222;
}

#des {
    margin-left: 4em;
    margin-right: 5em;
    text-align: center;
}