@media only screen and (max-width: 786px) {
    [class*="col-"] {
        width: 100%;
    }
    .hide-on-mobile{
        display: none;
    }
    .hide-on-desktop{
        display: block;
    }
    div,p,h1,h2,h3,h4,h5,h6,html,span{
        margin:0;
    }
    .row{
        margin:0;
        padding: 0;
    }
}

.hide-on-mobile{
    display: block;
}
.hide-on-desktop{
    display: none;
}