.back {
    background-color: #F7F3E8;
    margin-left: 4em;
    margin-right: 4em;
    border-radius: 10px;
}

.pics {
    height: 15em;
}

#poprocks:hover {
    background-image: url("poprocks.svg");
    color: black;
}

#earthcookie:hover {
    background-image: url("earthcookie.svg");
    color: black;
}

#fruitrocket:hover {
    background-image: url("fruitrocket.svg");
}

#starcookie:hover {
    background-image: url("starcookie.svg");
    color: black;
}

#planetlollipop:hover {
    background-image: url("planetlollipop.svg");
    color: black;
}

#galaxymuffin:hover {
    background-image: url("galaxymuffin.svg");
}

#jello:hover {
    background-image: url("jello.svg");
    color: black;
}

#astronaut:hover {
    background-image: url("astronaut.svg");
    color: black;
}

#caramelapple:hover {
    background-image: url("caramelapple.svg");
    color: black;
}

#moonrock:hover {
    background-image: url("moonrock.svg");
}

#ics:hover {
    background-image: url("ics.svg");
    color: black;
}

#moonpie:hover {
    background-image: url("moonpie.svg");
    color: black;
}