html, div, span, ol, ul, li{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 20px;
	vertical-align: baseline;
    list-style-type: none;
    color: white;
    font-family: Tahoma;
}

.parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    background-color:#161925;
}

#navbar-wrap{
    height: 4em;
}

nav{
    position:fixed;
    width: 100%;
    z-index: 99;
    height: 4em;
}

nav img{
    height: 3em;
    vertical-align: middle;
}
nav ul {
    list-style: none;
    background-color: #001f3f;
    text-align: center;
}

nav li {
    padding: 1em;
    font-size: 1.2em;
    font-family: Arial;
    text-align: center;
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: #bbb;
    display: block;
    transition: color .25s;
}

nav a:hover{
    color: #eee;
}

nav li li {
    font-size: 0.8em;
}

nav li ul {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity .25s;
}

nav li:hover ul {
    visibility: visible;
    opacity: 1;
}

nav li ul li {
    display: block;
    text-align: left;
}

#toggleMenu{
    position: absolute;
    right: 0px;
    height: 3em;
    padding: 0.5em;
    margin: 1em;
    cursor: pointer;
    background: #555;
}

#hamburger li{
    display: block;
}

footer p{
    padding-bottom: 0px;
}
footer{
    width: 100%;
    color: #eee;
    background: #222;
    margin-top: 1em;
    padding: 2em 0em;
    text-align: center;
}

footer img{
    height: 3.5em;
    display: inline;
    transition: opacity .25s;
}
footer img:hover{
    opacity: .75;
}

img.sm{
    width: 32%;
}

#content-wrap{
}

.hidden{
    display: none;
}

.center-vertical{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.parallax-landing{
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.parallax{
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    margin-bottom: 2em;
}

.parallax-0{
    background-image: url("/images/space-bg.jpg");
    height: 100vh;
}

#logo-wrap{
    background-color: rgba(50,50,50,0.5);
    text-align: center;
}

#logo-wrap img{
    width:50%;
}

.circle img{
    width:75%;
    padding:10%;
    border: 1px solid #222;
    border-radius: 50%;
    transition:padding .25s;
}

.circle img:hover{
    padding:0%;
}