@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* END CSS RESET*/

html,
div,
span,
ol,
ul,
li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 20px;
    vertical-align: baseline;
    list-style-type: none;
    color: white;
    font-family: 'Roboto';
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 1em;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

img {
    max-width: 100%;
    height: auto;
}

video {
    max-width: 100%;
    height: auto;
}

.row {
    margin: 1em 10em;
}

@media only screen and (max-width: 786px) {
    [class*="col-"] {
        width: 100%;
    }
    .hide-on-mobile {
        display: none;
    }
    .hide-on-desktop {
        display: block;
    }
    div,
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    html,
    span {
        margin: 0;
    }
    h1 {
        font-size: 2.5em !important;
    }
    .row {
        margin: 0;
        padding: 0;
    }
    #main-games div {
        text-align: center;
        font-size: 2rem !important;
        font-weight: bold;
        font-family: 'Roboto';
        line-height: 20rem;
    }
}

@media only screen and (min-width: 786px) {
    .hide-on-mobile {
        display: block;
    }
    .hide-on-desktop {
        display: none;
    }
}

.parallax-o {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-color: #1B1B1E;
    font-size: 12px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    text-align: center;
    margin: 0.25em;
}

h2 {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    margin: 1em;
}

h4 {
    font-size: 1em;
}

p {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0.5em;
    text-align: center;
}

a,
a:visited {
    text-decoration: none;
    color: #bbb;
    transition: color .25s;
}

a:hover {
    color: #fff;
}

.navoffset {
    height: 4em;
}

#navbar-wrap {
    height: 4em;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 99;
    height: 4em;
}

nav img {
    height: 1.7em;
    vertical-align: middle;
}

nav ul {
    list-style: none;
    background-color: #313134;
    text-align: center;
}

nav li {
    padding: 1em;
    font-size: 1.2em;
    text-align: center;
    display: inline-block;
}

nav a {
    display: block;
}

nav a:hover {
    color: #eee;
}

nav li li {
    font-size: 0.8em;
}

nav li ul {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity .25s;
}

nav li:hover ul {
    visibility: visible;
    opacity: 1;
}

nav li ul li {
    display: block;
    text-align: left;
}

#toggleMenu {
    position: absolute;
    right: 0px;
    height: 3em;
    padding: 0.5em;
    margin: 1em;
    cursor: pointer;
    background: #555;
}

#hamburger li {
    display: block;
}

footer p {
    padding-bottom: 0px;
    text-align: center;
}

footer {
    width: 100%;
    color: #eee;
    background: #6D676E;
    margin-top: 1em;
    padding: 2em 0em;
    text-align: center;
}

footer img {
    height: 3.5em;
    display: inline;
    transition: opacity .25s;
}

footer img:hover {
    opacity: .75;
}

img.sm {
    width: 32%;
}

.hidden {
    display: none;
}

.center-vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.black {
    background: rgba(0, 0, 0, .33);
    position: relative;
    height: 100%;
    width: 100%;
    text-shadow: 3px 3px #222;
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.parallax-landing {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}

.parallax {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 20rem;
    margin-bottom: 1em;
}

.parallax-0 {
    background-image: url("/images/landback-min.png");
    height: 100vh;
}

.parallax-1 {
    background-image: url("/images/games/ship-min.png");
}

.parallax-2 {
    background-image: url("/images/games/basketball-net-min.png");
}

.parallax-3 {
    background-image: url("/images/games/skeeball-main-min.png");
}

.parallax-4 {
    background-image: url("/images/games/air-hockey-main-min.png")
}

.parallax-5 {
    background-image: url("/images/games/ufo-min.png");
}

.parallax-6 {
    background-image: url("/images/games/asteroid-min.png");
}

.parallax-7 {
    background-image: url("/images/food/poprocks-min.png");
}

.parallax-8 {
    background-image: url("/images/food/earthcookie-min.png");
}

.parallax-9 {
    background-image: url("/images/food/fruit.jpg");
}

.parallax-10 {
    background-image: url("/images/food/starcookie-min.png");
}

.parallax-11 {
    background-image: url("/images/food/lollipop-min.png");
}

.parallax-12 {
    background-image: url("/images/food/muffin-min.png");
}

.parallax-13 {
    background-image: url("/images/food/jello-min.png");
}

.parallax-14 {
    background-image: url("/images/food/astronaut-min.png");
}

.parallax-15 {
    background-image: url("/images/food/apple-min.png");
}

.parallax-16 {
    background-image: url("/images/food/moonrock-min.png");
}

.parallax-17 {
    background-image: url("/images/food/icecream-min.png");
}

.parallax-18 {
    background-image: url("/images/food/moonpie-min.png");
}

.parallax-19 {
    background-image: url("/images/food/rocketdog-min.png");
}

.parallax-20 {
    background-image: url("/images/food/pizza-min.png");
}

.parallax-21 {
    background-image: url("/images/food/chicken-min.png");
}

.parallax-22 {
    background-image: url("/images/food/burger-min.png");
}

.parallax-23 {
    background-image: url("/images/food/sandwich-min.png");
}

.parallax-24 {
    background-image: url("/images/food/pasta-min.png");
}

.parallax-25 {
    background-image: url("/images/food/fries-min.png");
}

.parallax-26 {
    background-image: url("/images/food/onionring'-min.png");
}

.parallax-27 {
    background-image: url("/images/food/crescentroll-min.png");
}

.parallax-28 {
    background-image: url("/images/food/salad-min.png");
}

.parallax-29 {
    background-image: url("/images/food/soup-min.png");
}

.parallax-30 {
    background-image: url("/images/games/tossingintospace-min.png");
}

.parallax-31 {
    background-image: url("/images/games/shooting-min.png");
}

.parallax-32 {
    background-image: url("/images/games/bball-min.png");
}

.parallax-33 {
    background-image: url("/images/games/skeeball-main-min.png");
}

.parallax-34 {
    background-image: url("/images/games/air-hockey-main-min.png");
}

.parallax-35 {
    background-image: url("/images/games/asteroid-min.png");
}

.parallax-36 {
    background-image: url("/images/games/racing-min.png");
}

.parallax-37 {
    background-image: url("/images/games/maze-min.png");
}

.parallax-38 {
    background-image: url("/images/packages/pluto-min.png");
}

.parallax-39 {
    background-image: url("/images/packages/earth-min.png");
}

.parallax-40 {
    background-image: url("/images/packages/jupiter-min.png");
}

#logo-wrap {
    background-color: rgba(50, 50, 50, 0.5);
    text-align: center;
    padding: 1em;
}

#logo-wrap img {
    width: 40%;
}

.container {
    max-width: 100vw;
    text-align: center;
}

.container:after,
.whole:after,
.row:after,
.page:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.circle {
    padding: 1em;
}

.circle img {
    width: 100%;
    padding: 10%;
    border: 1px solid #222;
    border-radius: 50%;
    transition: padding .25s;
}

.circle img:hover {
    padding: 0%;
}

.bold {
    font-weight: bold;
}

.center-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

.right-text {
    text-align: right;
}

.justify-text {
    text-align: justify;
}

.button,
input[type="submit"] {
    color: #1B1B1E;
    border: 0;
    display: inline-block;
    line-height: 2em;
    text-align: center;
    margin: 1em auto;
    background-color: #FAA916;
    font-size: 2em;
    font-weight: bold;
    padding: 0.25em;
    width: 100%;
    transition: background-color .25s;
}

.button:hover,
.button:focus {
    background-color: #c88711;
    cursor: pointer;
}

#main-games div {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Roboto';
    line-height: 20rem;
}

.image {
    position: relative;
    width: 100%;
    /* for IE 6 */
}

#imgText {
    padding: 2em;
    position: absolute;
    margin-left: 12.5%;
    text-align: center;
    top: 100px;
    height: 82%;
    width: 75%;
    background-color: rgba(5, 5, 5, 0.5);
    font-size: 1.5em;
}

.lastrow {
    margin-bottom: 2.5em;
}

.back {
    background-color: rgba(255, 255, 255, 0.75);
    margin-left: 4em;
    margin-right: 5em;
    border-radius: 10px;
}

#staff img {
    height: 9em;
    border-radius: 75%;
    border: 2px #ccc solid;
}

.form-container {
    margin-left: auto;
    margin-right: auto;
}

form h2 {
    display: inline-block;
}

.form-container input,
.form-container textarea {
    width: 100%;
    border: none;
    padding: 0.5em;
    font-size: 1.2em;
    font-family: "Overpass", sans-serif;
    resize: none;
}

input[type="submit"] {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    padding: 0.5em;
    cursor: pointer;
}

select {
    width: auto;
    height: auto;
    font-size: 1em;
}