html,
h1,
h2,
h3,
h4,
h5 body div,
footer span,
ol,
ul,
li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 20px;
    vertical-align: baseline;
    list-style-type: none;
    color: white;
    font-family: Tahoma;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-color: #161925;
}

#navbar-wrap {
    height: 4em;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 99;
    height: 4em;
}

nav img {
    height: 3em;
    vertical-align: middle;
}

nav ul {
    list-style: none;
    background-color: #001f3f;
    text-align: center;
}

nav li {
    padding: 1em;
    font-size: 1.2em;
    font-family: Arial;
    text-align: center;
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: #bbb;
    display: block;
    transition: color .25s;
}

nav a:hover {
    color: #eee;
}

nav li li {
    font-size: 0.8em;
}

nav li ul {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity .25s;
}

nav li:hover ul {
    visibility: visible;
    opacity: 1;
}

nav li ul li {
    display: block;
    text-align: left;
}

#toggleMenu {
    position: absolute;
    right: 0px;
    height: 3em;
    padding: 0.5em;
    margin: 1em;
    cursor: pointer;
    background: #555;
}

#hamburger li {
    display: block;
}

footer p {
    padding-bottom: 0px;
}

footer {
    width: 100%;
    color: #eee;
    background: #222;
    margin-top: 1em;
    padding: 2em 0em;
    text-align: center;
}

footer img {
    height: 3.5em;
    display: inline;
    transition: opacity .25s;
}

footer img:hover {
    opacity: .75;
}

img.sm {
    width: 32%;
}

#content-wrap {}

.hidden {
    display: none;
}

.center-vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.parallax-landing {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.parallax {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    margin-bottom: 2em;
}

.parallax-0 {
    background-image: url("/images/space-bg.jpg");
    height: 100vh;
}

#logo-wrap {
    background-color: rgba(50, 50, 50, 0.5);
    text-align: center;
}

#logo-wrap img {
    width: 50%;
}

.limgwa {
    height: 15em;
    width: 15em;
    position: relative;
    padding: 0%;
    margin-top: 3.5em;
    transition: padding .25s;
}

.imgwa {
    height: 15em;
    width: 15em;
    position: relative;
    padding: 0%;
    transition: padding .25s;
}

h1 {
    font-size: 3em;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    text-align: center;
}

.child-left {
    float: left;
}

.button {
    text-align: center;
    font-size: 1.5em;
    color: navy;
    background-color: beige;
    padding: 0.5em;
    margin: 1em;
    border-right: 1em solid #161925;
}

h4 {
    font-size: 1em;
    text-align: center;
}

.boys {
    text-align: center;
}

.foodbar {
    width: 100%;
    background-color: palegoldenrod;
    color: navy;
    padding: 10px;
    font-size: 1.5em;
    position: absolute;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    position: relative;
    text-align: center;
}

.container:after,
.row:after,
.page:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#sodaimg {
    margin-top: 5em;
    width: 75%;
    height: 10%;
}