*{
    font-family: Arial;
    font-size: 20px;
}

.parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    font-size: 12px;
    background-color:#161925;
}

nav{
    position:fixed;
    width: 100%;
    z-index: 99;
    height: 5em;
}

nav > li{
    font-size: 24px;
    color: #ccc;
}

#content-wrap{
    margin-top: 5em;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #BDB69C;
}

li {
    float: left;
}

li a {
    display: block;
    color: #2F343A;
    text-decoration: none;
    padding: 10px;
}

img{
    display:block;
}