@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url('https://fonts.googleapis.com/css?family=Montserrat');
html,
div,
span,
ol,
ul,
li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 20px;
    vertical-align: baseline;
    list-style-type: none;
    color: white;
    font-family: 'Roboto';
}

.parallax-o {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-color: #1B1B1E;
    font-size: 12px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    text-align: center;
    margin: 0.25em;
}

h2 {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    margin: 1em;
}

h4 {
    font-size: 1em;
}

p {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0.5em;
    text-align: center;
}

a,
a:visited {
    text-decoration: none;
    color: #bbb;
    transition: color .25s;
}

a:hover {
    color: #fff;
}

.navoffset {
    height: 4em;
}

#navbar-wrap {
    height: 4em;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 99;
    height: 4em;
}

nav img {
    height: 1.7em;
    vertical-align: middle;
}

nav ul {
    list-style: none;
    background-color: #313134;
    text-align: center;
}

nav li {
    padding: 1em;
    font-size: 1.2em;
    text-align: center;
    display: inline-block;
}

nav a {
    display: block;
}

nav a:hover {
    color: #eee;
}

nav li li {
    font-size: 0.8em;
}

nav li ul {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity .25s;
}

nav li:hover ul {
    visibility: visible;
    opacity: 1;
}

nav li ul li {
    display: block;
    text-align: left;
}

#toggleMenu {
    position: absolute;
    right: 0px;
    height: 3em;
    padding: 0.5em;
    margin: 1em;
    cursor: pointer;
    background: #555;
}

#hamburger li {
    display: block;
}

footer p {
    padding-bottom: 0px;
    text-align: center;
}

footer {
    width: 100%;
    color: #eee;
    background: #6D676E;
    margin-top: 1em;
    padding: 2em 0em;
    text-align: center;
}

footer img {
    height: 3.5em;
    display: inline;
    transition: opacity .25s;
}

footer img:hover {
    opacity: .75;
}

img.sm {
    width: 32%;
}

.hidden {
    display: none;
}

.center-vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.black {
    background: rgba(0, 0, 0, .33);
    position: relative;
    height: 100%;
    width: 100%;
    text-shadow: 3px 3px #222;
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.parallax-landing {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}

.parallax {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 20rem;
    margin-bottom: 1em;
}

.parallax-0 {
    background-image: url("/images/landback.jpeg");
    height: 100vh;
}

.parallax-1 {
    background-image: url("/images/games/ship.jpg");
}

.parallax-2 {
    background-image: url("/images/games/basketball-net.jpg");
}

.parallax-3 {
    background-image: url("/images/games/skeeball-main.jpg");
}

.parallax-4 {
    background-image: url("/images/games/air-hockey-main.jpg")
}

.parallax-5 {
    background-image: url("/images/games/ufo.jpg");
}

.parallax-6 {
    background-image: url("/images/games/asteroid.jpg");
}

.parallax-7 {
    background-image: url("/images/food/poprocks.jpg");
}

.parallax-8 {
    background-image: url("/images/food/earthcookie.jpg");
}

.parallax-9 {
    background-image: url("/images/food/fruit.jpeg");
}

.parallax-10 {
    background-image: url("/images/food/starcookie.jpg");
}

.parallax-11 {
    background-image: url("/images/food/lollipop.jpg");
}

.parallax-12 {
    background-image: url("/images/food/muffin.jpg");
}

.parallax-13 {
    background-image: url("/images/food/jello.jpg");
}

.parallax-14 {
    background-image: url("/images/food/astronaut.jpg");
}

.parallax-15 {
    background-image: url("/images/food/apple.jpg");
}

.parallax-16 {
    background-image: url("/images/food/moonrock.jpg");
}

.parallax-17 {
    background-image: url("/images/food/icecream.jpg");
}

.parallax-18 {
    background-image: url("/images/food/moonpie.jpg");
}

.parallax-19 {
    background-image: url("/images/food/rocketdog.jpg");
}

.parallax-20 {
    background-image: url("/images/food/pizza.jpg");
}

.parallax-21 {
    background-image: url("/images/food/chicken.jpg");
}

.parallax-22 {
    background-image: url("/images/food/burger.jpeg");
}

.parallax-23 {
    background-image: url("/images/food/sandwich.jpg");
}

.parallax-24 {
    background-image: url("/images/food/pasta.jpeg");
}

.parallax-25 {
    background-image: url("/images/food/fries.jpeg");
}

.parallax-26 {
    background-image: url("/images/food/onionring'.jpg");
}

.parallax-27 {
    background-image: url("/images/food/crescentroll.jpg");
}

.parallax-28 {
    background-image: url("/images/food/salad.jpeg");
}

.parallax-29 {
    background-image: url("/images/food/soup.jpeg");
}

.parallax-30 {
    background-image: url("/images/games/tossingintospace.jpg");
}

.parallax-31 {
    background-image: url("/images/games/shooting.jpg");
}

.parallax-32 {
    background-image: url("/images/games/bball.jpg");
}

.parallax-33 {
    background-image: url("/images/games/skeeball-main.jpg");
}

.parallax-34 {
    background-image: url("/images/games/air-hockey-main.jpg");
}

.parallax-35 {
    background-image: url("/images/games/asteroid.jpg");
}

.parallax-36 {
    background-image: url("/images/games/racing.jpg");
}

.parallax-37 {
    background-image: url("/images/games/maze.jpg");
}

.foood div {
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto';
}

.gaaa div {
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto';
}

#logo-wrap {
    background-color: rgba(50, 50, 50, 0.5);
    text-align: center;
    padding: 1em;
}

#logo-wrap img {
    width: 40%;
}

.limgwa {
    height: 15em;
    width: 15em;
    position: relative;
    padding: 0%;
    margin-top: 3.5em;
    transition: padding .25s;
}

.imgwa {
    height: 15em;
    width: 15em;
    position: relative;
    padding: 0%;
    transition: padding .25s;
}

.child-left {
    float: left;
}

.foodbar {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    color: #2D3B40;
    font-size: 1.5em;
    position: absolute;
    text-align: center;
    margin-bottom: 2em;
}

.container {
    max-width: 100vw;
    text-align: center;
}

.whole {
    margin-right: auto;
    max-width: 1600px;
    position: relative;
    text-align: center;
}

.container:after,
.whole:after,
.row:after,
.page:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#sodaimg {
    margin-top: 5em;
    width: 75%;
    height: 10%;
}

.onegame {
    margin-left: 4em;
    border-radius: 25px;
    width: 85%;
    height: 15em;
    position: relative;
    margin-bottom: 4em;
    background-color: #001f3f;
}

.onegameOG {
    margin-left: 4em;
    border-radius: 25px;
    width: 74%;
    height: 15em;
    position: absolute;
    margin-bottom: 4em;
    background-color: #001f3f;
}

.gameimg {
    width: 15em;
    height: 15em;
    float: left;
    margin-right: 2em;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.nameanddes {
    text-align: left;
    margin-left: 5em;
    margin-right: 1em;
}

.circle {
    padding: 1em;
}

.circle img {
    width: 100%;
    padding: 10%;
    border: 1px solid #222;
    border-radius: 50%;
    transition: padding .25s;
}

.circle img:hover {
    padding: 0%;
}

.bold {
    font-weight: bold;
}

.center-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

.right-text {
    text-align: right;
}

.justify-text {
    text-align: justify;
}

.button {
    color: #1B1B1E;
    border: 0;
    display: inline-block;
    line-height: 2em;
    text-align: center;
    margin: 1em auto;
    background-color: #FAA916;
    font-size: 2em;
    font-weight: bold;
    padding: 0.25em;
    width: 100%;
    transition: background-color .25s;
}

.button:hover,
.button:focus {
    background-color: #c88711;
    cursor: pointer;
}

#main-games div {
    text-align: center;
    font-size: 5em;
    font-weight: bold;
    font-family: 'Roboto';
    line-height: 20rem;
}

.image {
    position: relative;
    width: 100%;
    /* for IE 6 */
}

#imgText {
    padding: 2em;
    position: absolute;
    margin-left: 12.5%;
    text-align: center;
    top: 100px;
    height: 82%;
    width: 75%;
    background-color: rgba(5, 5, 5, 0.5);
    font-size: 1.5em;
}

#gamesdes {
    margin-left: 3em;
    margin-right: 3em;
    color: black;
}

.lastrow {
    margin-bottom: 2.5em;
}

.back {
    background-color: rgba(255, 255, 255, 0.75);
    margin-left: 4em;
    margin-right: 5em;
    border-radius: 10px;
}

#staff img {
    height: 9em;
    border-radius: 75%;
    border: 2px #ccc solid;
}

.form-container {
    margin-left: auto;
    margin-right: auto;
}

.form-container h2 {
    display: inline-block;
}

.form-container input,
.form-container textarea {
    width: 100%;
    border: none;
    padding: 0.5em;
    font-size: 1.2em;
    font-family: "Overpass", sans-serif;
    resize: none;
}

input[type="submit"] {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    padding: 0.5em;
    cursor: pointer;
}

.foodhead {
    text-align: center;
}

select {
    width: auto;
    height: auto;
    font-size: 1em;
}